<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link
      href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- important mandatory libraries -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    





    <link rel="stylesheet" href="/static/css/style.css" />

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>


  </head>
  <body>

    <!-- <nav class="navbar navbar-expand-lg fix-top row">
        <div class="navbar-nav col" id="nav-item-container-right">
        </div>
        <div class="col">
        </div>
        <div class="navbar-nav col" id="nav-item-container-left">
        </div>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
              <img src="/static/images/logo-modified.png" width="25%" />
            </a>          <div class="navbar-nav col" id="nav-item-container-right"></div>
          <div class="col"></div>
          <div class="navbar-nav col" id="nav-item-container-left"></div>
        </div>
      </nav>



    <div class="container-fluid">
      <!-- <div class="card"> -->

        <div class="row">
            <div class='col'>

           <div id="name-container"><!-- name inserted here --></div>
            </div>
            <div class='col'>
                <div class='float-right' id="new-paper"><!-- new paper button inserted here --></div>
            </div>

        </div>
        <br />
        <div class="mx-auto bg-light" style="width: 100%;">
            <h3>My Papers</h3>


          </div>
        <div class="row col-12">

          <div class="card-body" id="papers">
              <!-- papers inserted here --></div>

        </div>
      


        <div class="mx-auto bg-light" style="width: 100%;">
            <h3>My Comments</h3>


          </div>
        <div class="card-body" id="commentpapers">
          <!-- abstract inserted here -->
        </div>
        <br />


            <div class="mx-auto bg-light" style="width: 100%;">  <h3>My Statistics</h3>


            </div>
        <br />
        <div class="card-body" id="version-card"></div>
    </div>
  </div>


    <!-- Footer -->
	<section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Quick links</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Community</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Submit Paper</a></li>
            </ul>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="/" target="_blank">PPRP</a></p>
          </div>
          </hr>
        </div>
      </div>
    </section>
    <!-- ./Footer -->
  </body>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/profile.js"></script>
</html>
