<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="navbar-brand">Public Peer Review Platform</div>
      <div class="navbar-nav" id="nav-item-container">
        <!-- navbar items are inserted here -->
      </div>
    </nav>
    <div class="container text-center" id="profile-container">
      <form
        action="/api/uploadPaper"
        enctype="multipart/form-data"
        method="POST"
      >
        <div>
          <label for="name">Title:</label>
          <input type="text" id="title" name="title" />
        </div>
        <div>
          <label for="author">Author:</label>
          <input type="text" id="author" name="author" />
        </div>
        <div>
          <label for="keywords">Keywords:</label>
          <input type="text" id="keywords" name="keywords" />
        </div>

        <div>
          <label for="abs">Abstract:</label>
          <textarea id="abstract" name="abstract"></textarea>
        </div>
        <div>
          <label for="sub">Subject:</label>

          <select name="subject" id="subject">
            <option value="physics">Physics</option>
            <option value="chemistry">Chemistry</option>
            <option value="math">Math</option>
            <option value="econ">Economics</option>
          </select>
        </div>

        <!-- <div>
          <select name="type" form="typeform">
            <option value="paper">Paper</option>
            <option value="comment">Comment</option>
          </select>
        </div> -->

        <input type="file" name="photo" />
        <input type="submit" value="Upload" />
        <p>Your file name should be without space.</p>
      </form>
    </div>
  </body>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/upload.js"></script>
</html>
