<!DOCTYPE html>
<html>
  <head>
    <title>Upload Paper Page</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
    
    <link rel="stylesheet" type="text/css" href="/static/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/form.css" />
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/style3.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    

    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
              <img src="/static/images/logo-modified.png" width="25%" />
            </a>          <div class="navbar-nav col" id="nav-item-container-right"></div>
          <div class="col"></div>
          <div class="navbar-nav col" id="nav-item-container-left"></div>
        </div>
      </nav> -->

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/static/images/logo-modified.png" width="25%" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav col" id="nav-item-container-right"></div>
            <div class="col"></div>
            <div class="navbar-nav col" id="nav-item-container-left"></div>
          </div>
        </div>
      </nav>

    <div class="container-contact100" id="profile-container">
        <div class="wrap-contact100">
      <div class="container">

        <form role="form" data-toggle="validator"
          class="contact100-form validate-form"
          action="/api/uploadNewVersion"
          enctype="multipart/form-data"
          method="POST"
        >
          <span class="contact100-form-title"> Submit A New Version ! </span>

          <div class="form-group">
          <div
            class="wrap-input100 validate-input"
          >
           
            <input
              class="input100"
              type="text"
              id="title"
              name="title"
              placeholder="Title"
              required
            />
          </div>
          </div>
          <div class="form-group">
          <div
            class="wrap-input100 validate-input"
            data-validate="Please enter authors"
          >
            <input
              class="input100"
              type="text"
              id="author"
              name="author"
              placeholder="Author(s)"
              required
            />
          </div>
          </div>
          <div class="form-group">
          <div
            class="wrap-input100 validate-input"
            
          >
            
        
            <input
              class="input100"
              type="text"
              id="keywords"
              name="keywords"
              placeholder="Keywords"
              required
            />
          </div>
          </div>

          <div>
            <input
              class="input100"
              type="text"
              id="paper_parent"
              name="paper_parent"
            />
          </div>

          <br />
          <div class="form-group">
          <div
            class="wrap-input100 validate-input"
            
          >
            
            <textarea
              class="input100"
              id="abstract"
              name="abstract"
              placeholder="Abstract"
              required
            ></textarea>
          </div>
          </div>
          <div class="form-group">
          <div
            class="wrap-input100 validate-input"
          >
            
            <textarea
              class="input100"
              id="method"
              name="method"
              placeholder="Method"
              required
            ></textarea>
          </div>
          </div>

          <div>
            <select class="input100" name="subject" id="subject">
              <option value="other">Other</option>
              <option value="physics">Physics</option>
              <option value="chemistry">Chemistry</option>
              <option value="economics">Economics</option>
              <option value="biology">Biology</option>
            </select>
          </div>
          <br />
          <div class="form-group">
          <div class="container-contact100-form-btn">
            <input type="file" name="photo" required/>
          </div>
          </div>
        

          <br />
          <div class="form-group">
            <div class="container-contact100-form-btn">
              <button
              class="contact100-form-btn"
              aria-hidden="true"
              type="submit"
              value="Upload"  
            >
              Submit
              </button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>

      <!-- Footer -->
	<section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Quick links</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Community</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Submit Paper</a></li>
            </ul>
          </div>
        
        </div>
       
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="/" target="_blank">PPRP</a></p>
          </div>
          </hr>
        </div>	
      </div>
    </section>
    <!-- ./Footer -->   
    
  </body>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/uploadVersion.js"></script>

</html>
